* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.header {
    min-height: 80vh;
    width: 100%;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
} 
nav img {
    width: 150px;
    height: auto;
}
.nav-links {
    flex: 1;
    text-align: center;
    
}
.nav-links {
    justify-content: space-between;
}
.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 60px;
    position: relative;
}
.nav-links ul li a {
    color: #000;
    text-decoration: none;
    font-size: 20px;
}

.nav-links ul li {
  background: #00C2ff;
  background-size: 45px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #000;
    display: block;
    margin: auto;
    transition: .5s;    
}
.nav-links ul li:hover::after{
    width: 100%;
}
.icons {
    justify-content: space-between;
    justify-content: right;
}
.profile {
    flex: 1;
    width: 25px;
    height: auto;
    justify-content: flex-end;
}
.cart {
    flex: 1;
    width: 25px;
    height: auto;
    justify-content: flex-end;
}
.text-box {
    width: 100%;
    height: 766px;
    color: #fff;
    position:absolute;
    top:10%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: left;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(media/Regnskog\ texture\ 1.png);
    background-position: center;
    position: relative;
    overflow: hidden;
}
h1{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    font-size: 40px;
}
p{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between; 
}
.CTA {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background-color: #00C2ff;
    position: relative;
    cursor: pointer;
    transition: 1s;
}
.CTA {
    margin-left: 80px;
}
.CTA:hover{
    border: 1px solid #808080;
    background: #808080;
}
@media(max-width: 700px)
{
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li {
        display: block;
    }
.nav-links {
    position: absolute;
    background: #fff;
    height: 100px;
    width: 200px;
    top: 0;
    right: 0;
    text-align: left;
    z-index: 2;
}
}
.inthewind {
        width: 80%;
        margin:auto;
        text-align: center;
        padding-top: 10px;
    }
    h2{
        font-size: 36px;
        font-weight: 600;
    }
    .p1{
        color: rgb(211, 211, 211);
        font-size: 14px;
        font-weight: 300;
        line-height: 22px;
        padding: 10px;
    }
    .hiking-jacket {
        margin-top: 5%;
        display: flex;
        justify-content: space-between; 
    }
    .hiking-s3{
        flex-basis: 31%;
        background: #00C2ff;
        border-radius: 10px;
        margin-bottom: 5%;
        padding: 20px 12px;
        box-sizing: border-box;
        transition: .5s;
    }
    h3{
        text-align: center;
        font-weight: 600;
        margin: 10px 0;
    }

    .women-men {
        width: 80%;
        margin: auto;
        text-align: left;
        padding-left: 10px;
    }
    h5{
        font-size: 30px;
    }

    .women-men-img {
        display:flex;
        flex: 1;
        justify-content: space-between;
        position:relative;
        color:#fff;
    }
    .women-shop {
        position: absolute;
        text-align: center;
        top: 50%;
        left: 25%;
        transform: translate(-50%, -50%);
    }
    .men-shop {
        position: absolute;
        text-align: center;
        top: 50%;
        left: 80%;
        transform: translate(-50%, -50%);
    }

    .jackets{
        display: block;
        width: 100%;
        overflow-x: scroll;
        margin-top: 20px;
        padding: 20px;
        box-sizing: border-box;
    }

    .jackets-slider{
        display: block;
        white-space: nowrap;

    }
    .jacket{
        display: inline-block;
        margin-right: 10px;
    }
    .jacket img{
        width: 100%;
        height: auto;
    }
    h4 {
        width: 80%;
        margin: auto;
        text-align: left;
        padding-left: 10px;
        justify-content: space-between;
        font-size: 30px;
    }
    hr {
       border: 1px solid #00C2ff;
    }
    .who-new-arrival{
        margin-top: 5%;
        display: flex;
        justify-content: space-between;
    }

.row {
    flex-basis: 31%;
    background: #808080;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: .5s;
}
    
